<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>challenge_code <%= @user.challenge_code %></h1>
    <p>
      Challenge code given successfully.
    </p>
  </body>
</html>